@model IEnumerable<CSLY.Dtos.ProductDto>
@{
    ViewBag.Title = "Home Page";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

<div class="container">
    @*<div class="row heading-box">
            <h2 class="text-center">Bootstrap 4 slider with Text Animation</h2>
        </div>*@
</div>
<section>
    <div id="slider-animation" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#slider-animation" data-slide-to="0" class="active"></li>
            <li data-target="#slider-animation" data-slide-to="1"></li>
            <li data-target="#slider-animation" data-slide-to="2"></li>
        </ul>
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="height:320px" width="100%" src="../Images/whatisprogramming.jpg" alt="Los Angeles">
                @*<div class="text-box">
                        <h2 class="wow slideInRight" data-wow-duration="2s">This is Obitope text</h2>
                        <p class="wow slideInLeft" data-wow-duration="2s">There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space. </p>
                    </div>*@
            </div>
            <div class="carousel-item">
                <img style="height:320px" width="100%" src="../Images/courses.jpeg" alt="Chicago">
                @*<div class="text-box">
                        <h2 class="wow slideInUp" data-wow-duration="4s">This is samuel text</h2>
                        <p class="wow fadeInDown" data-wow-duration="4s">There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space. </p>
                    </div>*@
            </div>
            <div class="carousel-item">
                <img style="height:320px" width="100%" src="../Images/Python-Programming-Examples.png" alt="New York">
                @*<div class="text-box">
                        <h2 class="wow fadeInUp" data-wow-duration="4s">This is Airborne text</h2>
                        <p class="wow fadeInUp" data-wow-duration="2s">There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space. </p>
                    </div>*@
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#slider-animation" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#slider-animation" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</section>

<div class="olContent f1"><h2 style="color:black">Search Product/Category</h2></div>
<form method="get">
    <div class="olSearch fr">
        <input type="text" name="search" placeholder="Enter Keyword" class="inputComn form-control" />
        <div class="searchIcon">
            <button type="button" class="searchBtn">
                <img src="~/Images/searchIcon.png" />
            </button>
        </div>
    </div>
</form>


<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Producrs <small>trends products</small></h2>
        </div>
    </div>
</div>

<div class="row product-container">

    @foreach(var item in Model) { 
    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img src ="@Url.Content(@item.ImagePath)"class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"/>


            <div class="caption">
                <h5>@item.ProductName</h5>
                <p>@item.Price $.</p>
                <p>Available</p>
            </div>
        </div>
    </div>
    }
</div>
